*{margin:0;padding:0}body{background:#e7e7e7 url(../images/back.jpg) center top}
.logo{
	background:url(../images/logo5.png) no-repeat;
	height:360px;
	left:50%;
	margin-left:-160px;
	margin-top:-162.5px;
	position:absolute;
	text-align:center;
	top:50%;
	width:600px;
	background-image: url(../images/logo5.png);
}
.iconface{
	background: url(../images/face.png) no-repeat;
	float: left;
	height: 34px;
	margin-left: 10px;
	margin-top: 300px;
	width: 10pxc
}
.iconface ul{float:left;height:34px;margin-left:2px;width:50px}
.iconface ul li{float:left;height:1px;list-style:none;margin-right:1px;width:1px}
.iconface ul li a{background:transparent;float:left;height:35px;text-indent:-9999px;width:35px
}
.tel{
	background: url(../images/tel.png) no-repeat;
	float: left;
	height: 38px;
	margin-left: 10px;
	margin-top: 300px;
	width: 10pxc
}
.tel ul{float:left;height:34px;margin-left:2px;width:50px}
.tel ul li{float:left;height:1px;list-style:none;margin-right:1px;width:1px}
.tel ul li a{background:transparent;float:left;height:35px;text-indent:-9999px;width:35px
}
.iconinsta{
	background: url(../images/insta.png) no-repeat;
	float: left;
	height: 36px;
	margin-left: 10px;
	margin-top: 300px;
	width: 10pxc
}
.iconinsta ul{float:left;height:34px;margin-left:2px;width:50px}
.iconinsta ul li{float:left;height:1px;list-style:none;margin-right:1px;width:1px}
.iconinsta ul li a{background:transparent;float:left;height:35px;text-indent:-9999px;width:35px
}
.youtubeicon{
	background: url(../images/youtube.png) no-repeat;
	float: left;
	height: 36px;
	margin-left: 10px;
	margin-top: 300px;
	width: 10pxc
}
.youtubeicon ul{float:left;height:34px;margin-left:2px;width:50px}
.youtubeicon ul li{float:left;height:1px;list-style:none;margin-right:1px;width:1px}
.youtubeicon ul li a{background:transparent;float:left;height:35px;text-indent:-9999px;width:35px
}
.email{
	background: url(../images/mail.png) no-repeat;
	float: left;
	height: 37px;
	margin-left: 10px;
	margin-top: 300px;
	width: 10pxc
}
.email ul{float:left;height:34px;margin-left:2px;width:50px}
.email ul li{float:left;height:1px;list-style:none;margin-right:1px;width:1px}
.email ul li a{background:transparent;float:left;height:35px;text-indent:-9999px;width:35px
}
.zap{
	background: url(../images/wtzp.png) no-repeat;
	float: left;
	height: 37px;
	margin-left: 10px;
	margin-top: 300px;
	width: 10pxc
}
.zap ul{float:left;height:34px;margin-left:2px;width:50px}
.zap ul li{float:left;height:1px;list-style:none;margin-right:1px;width:1px}
.zap ul li a{background:transparent;float:left;height:35px;text-indent:-9999px;width:35px
}
